# 2024-12-1 version 1.0 copy from paddle
---
Language:        Cpp
BasedOnStyle:  Google
IndentWidth:     4
TabWidth:        4
ContinuationIndentWidth: 4
AccessModifierOffset: -4  # The private/protected/public has no indent in class
Standard:  Cpp11 
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: false
BinPackArguments: false
IncludeBlocks: Preserve
IncludeIsMainSourceRegex: (\.cu)$
...